
body {
	height: 100%;
	margin: 0;
	padding: 5em 0 5em 0;
	box-sizing: border-box;
}

header {
	text-align: center;
	width: 100%;
}

body > footer {
	position: absolute;
	width: 100%;
	margin: 0 0 1em 0;
	padding: 0.5em;
	box-sizing: border-box;
}

footer {
	text-align: center;
	width: 100%;
	position:fixed;
	bottom:0;
}

label {
	display: block;
	float: left;
}

h1, h2 {
	margin: 0;
	padding: 0;
	color: lightcoral;
}

div.box {
	width: 960px;
	margin: 0 auto;
	padding: 1em;
}

radio {
	margin: 0 auto;
}
